
	<div class="container">

		<div class="row">
			<div class="col-md-3 colpadding side_chat" style=""
                  wb-affix="150">
                <div class="panel-body messages-scroll" style="padding:0px;margin-bottom:0px;">
                    <div class="list-group" style="margin-bottom:0px;">
                        <a style="cursor:pointer;" class="list-group-item list-group-border"
                                 ng-repeat="chatuser in chatusers" id="{{chatuser._id}}"
                                 name="{{ chatuser.name.first }} {{ chatuser.name.last }}" addchatdiv>
                            <div class="row">
                                <div class="col-sm-2 colpadding">
                                    <img src="{{ chatuser.picture.thumbnail}}" alt="" style="width:40px;border-radius:50%;">
                                </div>
                                <div class="col-sm-10 ">
                                    <h5 style="opacity:0.70;margin-top:0px;">
                                        {{ chatuser.name.first }} {{ chatuser.name.last }}
                                        <span class="pull-right">
                                            <small style="opacity:0.50">10/11/2012</small>
                                        </span>
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="panel-footer" style="background-color:#fff;">
                    <div class="right-inner-addon">
                        <i class="fa fa-search" style="opacity:0.70"></i>
                        <input type="search" class="form-control input-sm"
                               placeholder="Search Online Friends" />
                    </div>
                </div>
            </div>

            <div ng-repeat="previousdiv in previousdivs" class="col-md-3 colpadding chat_divs"
                 style="right:{{ previousdiv.right}}px;height:{{ previousdiv.height}}"
                 wb-affix="150">
                <div class="panel panel-success" style="margin-bottom:0px;cursor:default;border:none;">

                    <div class="panel-heading" style="border:none;">
                        <div class="row">
                            <div class="col-sm-9">
                                <a href="">
                                    {{ previousdiv.name }}
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <span>
                                    <a ng-click="close_div('{{ previousdiv.id}}')"
                                       class="pull-right" style="color:#888;cursor:pointer;">
                                        <i class="fa fa-close"></i>
                                    </a>
                                    <div ng-if="previousdiv.maximize">
                                        <a   ng-click="minimize('{{ previousdiv.id }}')"
                                             class="" style="color:#888;cursor:pointer;">
                                            <i class="fa fa-toggle-down"></i>
                                        </a>
                                    </div>
                                    <div  ng-if="previousdiv.minimize">
                                        <a  ng-click="maximize('{{ previousdiv.id }}')"
                                            class="" style="color:#888;cursor:pointer;">
                                            <i class="fa fa-toggle-up"></i>
                                        </a>
                                    </div>
                                </span>
                            </div>
                        </div>


                    </div>


                        <div class="panel-body messages-scroll" style="height:230px">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="jumbotron" style="padding:10px;margin-bottom:7px;">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <a href="">
                                                    <img src="http://api.randomuser.me/portraits/women/29.jpg"
                                                        style="width:30px;border-radius:50%;">
                                                </a>
                                            </div>
                                            <div class="col-sm-10">
                                                <h6>
                                                    Etiam vitae dui. Lacus donec  vulputate
                                                    dis justo porta felis dui.
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jumbotron" style="padding:10px;margin-bottom:7px;">
                                        <div class="row">

                                            <div class="col-sm-10">
                                                <h6>
                                                    Etiam vitae dui. Lacus donec  vulputate
                                                    dis justo porta felis dui.
                                                </h6>
                                            </div>
                                            <div class="col-sm-2 colpadding">
                                                <a href="">
                                                    <img src="http://api.randomuser.me/portraits/women/29.jpg"
                                                        style="width:30px;border-radius:50%;">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jumbotron" style="padding:10px;margin-bottom:7px;">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <a href="">
                                                    <img src="http://api.randomuser.me/portraits/women/29.jpg"
                                                        style="width:30px;border-radius:50%;">
                                                </a>
                                            </div>
                                            <div class="col-sm-10">
                                                <h6>
                                                    Etiam vitae dui. Lacus donec  vulputate
                                                    dis justo porta felis dui.
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>
						<div class="panel-footer">
							<div class="input-group">
								<input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
								<span class="input-group-btn">
                                    <button class="btn btn-normal btn-sm" id="btn-chat">
                                        Send</button>
                                </span>
							</div>
                        </div>


                    <!--<div class="list-group" style="margin-bottom:0px" >

                       <textarea style="width: 289px;height: 212px;" id="text_{{previousdiv.id}}"></textarea>
                        <a class="list-group-item"
                           style="border-top-left-radius: 0px;border-top-right-radius: 0px;">
                            <div class="input-group">
                                <input  type="text" class="form-control input-sm"
                                       placeholder="Search online friends..." id="send_{{previousdiv.id}}"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" id="btn-chat" ng-click="send_message('{{previousdiv.id}}')">
                                        send
                                    </button>
                                </span>
                            </div>
                        </a>
                    </div>-->
                </div>
            </div>



		</div>
	</div>
