<div class="container" style="top:0px;position:fixed">
   <div class="row">
       <div class="col-sm-12 colpadding">
           <span class="">
               <h1 style="color:#fff;font-size:45px;">
                   <!--<i class="fa fa-thumbs-o-up" style="opacity:0.60;color:#666;font-size:35px">

                   </i>-->
                   <a href="/" style="color:#fff;text-decoration:none;">
                       weber
                   </a>
                   <span class="pull-right">

                       <a href="/#/login" class="btn btn-sm btn-default">
                           Login weber
                       </a>
                       <a href="/#/signup" class="btn btn-sm btn-default">
                           Signup today
                       </a>
                   </span>
               </h1>
           </span>
       </div>
   </div>
</div>
<div class="container" style="">
    <div class="row">
        <div class="col-md-3 colpadding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="fa fa-search" style="opacity:0.60;font-size:16px"></span>&nbsp;
                    <strong>Surya</strong>
                    Previous Searches
                    <a href="" class="pull-right">
                        <span class="label label-primary">
                            30
                        </span>
                    </a>
                </div>
                <div class="panel-body" style="padding:0px;margin-bottom:0px">
                    <div class="list-group" style="margin-bottom:0px">
                        <a href="" class="list-group-item"
                           style="border-top-left-radius: 0px;border-top-right-radius: 0px;">
                            <span class="fa fa-angle-right"></span>&nbsp;
                            Surya Wants to goto movie today
                        </a>

                        <a href="" class="list-group-item"
                           style="border-top-left-radius: 0px;border-top-right-radius: 0px;">
                            <span class="fa fa-angle-right"></span>&nbsp;
                            Vegeshna is going to movie now
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 colpadding">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" ng-submit="login()" name="myForm">
                        <div class="form-group" style="margin-bottom:2px">
                            <div class="col-sm-12">
                                <input type="email"
                                       class="form-control" id="text"
                                       name="text" ng-model="formData.email"
                                       placeholder="Search Anything in weber and get what you want" required/>
                            </div>
                            <div class="col-sm-4 col-sm-offset-4">
                                <input type="submit" style="margin-top:10px" value="Weber Search"
                                       class="btn btn-normal btn-md btn-block" >
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 style="margin-top:0px;margin-bottom:15px;">
                                <i class="fa fa-user" style="opacity:0.60"></i>&nbsp;
                                <strong>
                                    Matched People
                                </strong>
                                 with you..
                            </h5>
                        </div>
                    </div>
                    <div class="jumbotron" style="padding:0px">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default" style="margin:0px">
                                    <div class="media-body panel-heading">
                                        <a class="pull-left" style="padding: 5px;" href="">
                                            <img style="width:40px" class="media-object img-circle"
                                                 src="http://api.randomuser.me/portraits/med/men/26.jpg" alt="">
                                        </a>
                                        <span>
                                            <strong>
                                                <a href="" style="color:#333">
                                                    Surya Chowdary Muppalla
                                                </a>
                                            </strong> Matched with you.
                                            <br>
                                            <small class="text-muted"><span class="glyphicon glyphicon-time"></span>
                                                <span>12 hours ago</span></small>

                                            <a href="" class="btn btn-sm btn-default pull-right">
                                                Chat
                                            </a>
                                        </span>
                                        <br>
                                    </div>
                                    <div class="panel-body">
                                        <strong>
                                            Keywords:
                                        </strong>
                                         Hai, This, India
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="jumbotron" style="padding:0px">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default" style="margin:0px">
                                    <div class="media-body panel-heading">
                                        <a class="pull-left" style="padding: 5px;" href="">
                                            <img style="width:40px" class="media-object img-circle"
                                                 src="http://api.randomuser.me/portraits/med/men/22.jpg" alt="">
                                        </a>
                                        <span>
                                            <strong>
                                                <a href="" style="color:#333">
                                                    Vegeshna Satyanarayana
                                                </a>
                                            </strong> Matched with you.
                                            <br>
                                            <small class="text-muted"><span class="glyphicon glyphicon-time"></span>
                                                <span>12 hours ago</span></small>

                                            <a href="" class="btn btn-sm btn-default pull-right">
                                                Chat
                                            </a>
                                        </span>
                                        <br>
                                    </div>
                                    <div class="panel-body">
                                        <strong>
                                            Keywords:
                                        </strong>
                                         Going, Movie, Today
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>


<style>
    body {
  /*background: url(http://p1.pichost.me/i/38/1615857.jpg) no-repeat center center fixed;*/
    background-color:#659eC7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
    opacity: 0.9;
    margin-top:30px;
}
.form-group.last {
    margin-bottom:0px;
}
</style>