<div class="container" style="">
    <div class="row">
        <div class="col-md-3 colpadding">
            <div class="panel panel-default hidden">
                <div class="panel-heading">
                    <span class="fa fa-search" style="opacity:0.70"></span>
                    <strong>Surya</strong>
                    Previous Searches
                    <a href="" class="pull-right">30</a>
                </div>
                <div class="panel-body" style="padding:0px;margin-bottom:0px">
                    <div class="list-group" style="margin-bottom:0px">
                        <a href="" class="list-group-item">
                            <span class="fa fa-angle-right"></span>&nbsp;
                            Surya Wants to goto movie today
                        </a>

                        <a href="" class="list-group-item">
                            <span class="fa fa-angle-right"></span>&nbsp;
                            Vegeshna is going to movie now
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 colpadding">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" ng-submit="login()" name="myForm">
                        <div class="form-group" style="margin-bottom:2px">
                            <div class="col-sm-12">
                                <input type="email"
                                       class="form-control" id="text"
                                       name="text" ng-model="formData.email"
                                       placeholder="Search Anything in weber and get what you want" required/>
                            </div>
                            <div class="col-sm-4 col-sm-offset-4">
                                <input type="submit" style="margin-top:10px" value="Weber Search"
                                       class="btn btn-success btn-md btn-block" >
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


<style>
    body {
  background: url(http://www.twitterevolutions.com/bgs/tree-on-a-moonlight-twitter-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
    opacity: 0.9;
    margin-top:30px;
}
.form-group.last {
    margin-bottom:0px;
}
</style>